@font-face {
    font-family: roboto;
    src: url(../fonts/roboto-regular.ttf);
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: roboto;
    src: url(../fonts/roboto-bold.ttf);
    font-style: bold;
    font-weight: 700;
}

@font-face {
    font-family: roboto;
    src: url(../fonts/roboto-black.ttf);
    font-style: black;
    font-weight: 900;
}

@font-face {
    font-family: robotocondensed-regular;
    src: url(../fonts/robotocondensed-regular.ttf);
}

@font-face {
    font-family: robotocondensed-bold;
    src: url(../fonts/robotocondensed-bold.ttf);
}

body {
    width: 1920px;
    margin: 0 auto;
    /*    padding: 8px 20px 0 17px;*/
    font-family: 'roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
    min-height: 1024px;
    box-sizing: border-box;
    color: #000000;
}

.head {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    /*    padding: 15px 0 0 0;*/
}

.today-title {
    padding: 5px 0px 0px 17px;
}

.today {
    font-size: 35px;
    line-height: 41px;
    margin: 0 50px 0 18px;
}

.number {
    font-style: black;
    font-weight: 900;
    font-size: 35px;
    line-height: 41px;
    color: #090909;
    margin: 0 17px 0 0px;
}

.btn-exit {
    width: 9%;
    height: 55px;
    background: #3988FF;
    border-radius: 5px;
    border: none;
    margin-bottom: 11px;
}

.exit {
    font-style: black;
    font-weight: 900;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;

}

.days {
    display: flex;
    justify-content: space-between;
}

.btn-day {
    height: 50px;
    width: 48%;
    background: #FFF9C1;
    border: 6px solid #B1B1B1;
    box-sizing: border-box;
    border-radius: 10px;
}

.btn-day:hover {
    border: 7px solid #DE6C6C;
}

.day {
    font-style: bold;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    text-transform: uppercase;
}

main {
    background: #3C9A78;
    width: 100%;
    box-sizing: border-box;
    margin-top: 15px;
}

.main-title {
    display: flex;
    justify-content: space-between;
    padding: 12px 17px 15px 0px;
}

.title {
    font-weight: 700;
    font-size: 50px;
    line-height: 59px;
    color: #FFFFFF;
    margin: 0;
    padding: 10px 0 0px 35px;
    text-transform: uppercase;
}

.discount-name {
    font-weight: normal;
    font-size: 35px;
    line-height: 41px;
    color: #FAFF00;
}

.total {
    display: flex;
    width: 38%;
    justify-content: space-between;
}

.total-price {
    width: 48%;
    min-height: 76px;
    background: #FFFFFF;
    border: 3px solid #5A5959;
    box-sizing: border-box;
    border-radius: 10px;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.price-txt {
    display: block;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    padding-left: 36px;
}

.cost {
    display: block;
    font-weight: 700;
    font-size: 50px;
    line-height: 59px;
    text-transform: capitalize;
}

.btn-pay {
    width: 48%;
    min-height: 76px;
    background: #0F8931;
    border: 3px solid #63E879;
    box-sizing: border-box;
    border-radius: 10px;
}

.pay {
    font-style: bold;
    font-weight: 700;
    font-size: 50px;
    line-height: 59px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.content {
    display: flex;
    width: 100%
}

.btn-category {
    display: block;
    width: 243px;
    min-height: 156px;
    background: #E1E1E1;
    border-radius: 14px;
    box-sizing: border-box;
    margin: 0 19px 34px 17px;
}

.btn-category:hover {
    background: #FFE9DD;
    border: 6px solid #FF6060;
}

.category-name {
    font-style: bold;
    font-weight: 700;
    font-size: 25px;
    line-height: 29px;
    text-transform: uppercase;
}

.menu-list {
    display: flex;
    margin-bottom: 13px;
}

.menu-list-full {
    width: 691px;
    /*    height: 92px;*/
    background: #FFEADE;
    border: 6px solid #FFCFBB;
    box-sizing: border-box;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.menu-title {
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 29px;
    margin: 0;
}

.weight {
    font-style: normal;
    font-weight: bold;
    font-size: 23px;
    line-height: 27px;
}

.price-wrp {
    width: 114px;
    min-height: 80px;
    background: #FFFFFF;
    border-radius: 5px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.price {
    font-family: 'robotocondensed-bold', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 41px;
    text-align: right;
    text-transform: uppercase;
    color: #005203;
}

.order {
    display: flex;
}

.remove {
    width: 84px;
    /*    min-height: 92px;*/
    background: #FF9292;
    border: 6px solid #FFCFBB;
    box-sizing: border-box;
    border-radius: 5px 0px 0px 5px;
    font-weight: bold;
    font-size: 25px;
    line-height: 29px;
}

.quantity {
    width: 84px;
    /*    height: 92px;*/
    background: #FFFFFF;
    border: 6px solid #FFCFBB;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    line-height: 29px;
}

.add {
    width: 84px;
    /*    min-height: 92px;*/
    background: #7EDE50;
    border: 6px solid #FFCFBB;
    box-sizing: border-box;
    border-radius: 0px 5px 5px 0px;
    font-weight: bold;
    font-size: 25px;
    line-height: 29px;
}

.half-order {
    display: flex;
}

.half-order-title {
    width: 145px;
    min-height: 92px;
    background: #FFEADE;
    border: 6px solid #FFCFBB;
    box-sizing: border-box;
    border-radius: 5px;

}

.half-order-wrp {
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    margin: 0;
}

.order-list {}

.order-item {
    display: flex;
    margin: 0 0 13px 30px;
}

.order-menu-title {
    display: flex;
    width: 691px;
}

.order-category-name {
    width: 513px;
    min-height: 92px;
    background: #EEEEEE;
    border: 6px solid #EEEEEE;
    box-sizing: border-box;
    border-radius: 5px 0px 0px 5px;
    display: flex;
    align-items: center;
    padding-left: 22px;
}

.order-menu-name {
    width: 691px;
    min-height: 92px;
    background: #FFEADE;
    border: 6px solid #FFCFBB;
    box-sizing: border-box;
    border-radius: 0px 5px 5px 0px;
    padding-left: 17px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.discounts {
    text-align: end;

}

.discount {
    width: 437px;
    min-height: 74px;
    background: #FFF9C1;
    border: 6px solid #FFF9C1;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 20px;
}

.discount:hover {
    border: 7px solid #DE6C6C;
    border-radius: 10px;
}


.discount-title {
    font-weight: bold;
    font-size: 26px;
    line-height: 30px;
}

.footer {
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.down {
    width: 513px;
    min-height: 87px;
    background: #0F734F;
    border: 3px solid #EEEEEE;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 0 0 12px 33px;
}

.receipt {
    width: 397px;
    min-height: 87px;
    background: #0F734F;
    border: 3px solid #63E879;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 0 20px 12px 0;
}




/*
@media screen and (max-width: 1920px) {
    body {
        width: 100%;
        box-sizing: border-box;
    }
}
*/
